# SPDX-FileCopyrightText: 2019 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause

stages:
    - adjust
    - test
    - miscellaneous


image:
  name: "seissol/gpu-ci-image:v0.0.4"
  entrypoint: [""]


submodules:
  stage: adjust
  tags:
    - atsccs68-docker-executor
  script:
    - cat ./.gitmodules
    - git submodule update --init --recursive
  artifacts:
    paths:
      - submodules


.common_test_steps: &common_test_script
    - export CTEST_OUTPUT_ON_FAILURE=1
    - if [[ "${BACKEND}" == "hip" ]]; then
        . /etc/profile.d/rocm.sh ;
        export HIP_PLATFORM=nvidia ;
      fi ;


tests:
  stage: test
  tags:
    - atsccs68-docker-executor
  parallel:
    matrix:
      - BACKEND: [cuda, hip, hipsycl]
  script:
    - *common_test_script
    - mkdir -p tests/build
    - cd tests/build
    - cmake .. -DDEVICE_BACKEND=${BACKEND} -DSM=${GPU_MODEL} -DREAL_SIZE_IN_BYTES=4
    - make -j4
    - ./tests


basic_example:
  stage: miscellaneous
  tags:
    - atsccs68-docker-executor
  parallel:
    matrix:
      - BACKEND: [cuda, hip, hipsycl]
  script:
    - *common_test_script
    - export WORKDIR=./examples/basic/build
    - mkdir -p ${WORKDIR} && cd ${WORKDIR}
    - cmake .. -DDEVICE_BACKEND=${BACKEND} -DSM=${GPU_MODEL} -DREAL_SIZE_IN_BYTES=4
    - make -j4
    - ./basic


jacobi_example:
  stage: miscellaneous
  tags:
    - atsccs68-docker-executor
  parallel:
    matrix:
      - BACKEND: [cuda, hip, hipsycl]
  before_script:
    - git clone --depth 1 --branch release-1.10.0 https://github.com/google/googletest
    - mkdir -p googletest/build && cd googletest/build
    - cmake .. -DBUILD_GTEST=ON -DBUILD_GMOCK=ON -Dgtest_disable_pthreads=ON -DBUILD_SHARED_LIBS=ON
    - make -j $(nproc)
    - make install
    - cd ../..
  script:
    - *common_test_script
    - export WORKDIR=./examples/jacobi/build
    - mkdir -p ${WORKDIR} && cd ${WORKDIR}
    - cmake .. -DDEVICE_BACKEND=${BACKEND} -DSM=${GPU_MODEL} -DREAL_SIZE_IN_BYTES=4 -DWITH_MPI=OFF -DWITH_TESTS=ON
    - make -j4
    - ./tests
    - ./solver ./config.yaml
