# SPDX-FileCopyrightText: 2025 SeisSol Group
#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-LicenseComments: Full text under /LICENSE and /LICENSES/
#
# SPDX-FileContributor: Author lists in /AUTHORS and /CITATION.cff

name: build-device
on:
  - push

jobs:
  device-build-test:
    name: device-build-test
    runs-on: ${{ matrix.setup.runner }}
    container:
      image: ${{ matrix.setup.container }}
      options: ${{ matrix.setup.container-options || ' ' }}
    strategy:
      fail-fast: false
      matrix:
        arch:
          - hsw
        build_type:
          - Release
          - Debug
        setup:
          - arch: sm_86
            backend: cuda
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-ci-merge
            runner: self-hosted
            container-options: --runtime=nvidia --gpus=all
            pythonbreak: true
            test: true
          - arch: sm_86
            backend: acpp
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-nv:davschneller-ci-merge
            runner: self-hosted
            container-options: --runtime=nvidia --gpus=all
            pythonbreak: true
            test: true
          - arch: sm_86
            backend: cuda
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-nv:davschneller-ci-merge
            runner: self-hosted
            container-options: --runtime=nvidia --gpus=all
            pythonbreak: true
            test: true
          - arch: sm_86
            backend: cuda
            cc: nvc
            cxx: nvc++
            fc: nvfortran
            container: seissol/gha-gpu-nvhpc:davschneller-ci-merge
            runner: self-hosted
            container-options: --runtime=nvidia --gpus=all
            pythonbreak: true
            test: true
          - arch: gfx906
            backend: hip
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-amd:davschneller-ci-merge
            runner: ubuntu-24.04
            pythonbreak: true
            test: false
          - arch: gfx906
            backend: acpp
            cc: gcc-13
            cxx: g++-13
            fc: gfortran-13
            container: seissol/gha-gpu-amd:davschneller-ci-merge
            runner: ubuntu-24.04
            pythonbreak: true
            test: false
          - arch: gfx906
            backend: hip
            cc: clang-18
            cxx: clang++-18
            fc: gfortran-13 # TODO?
            container: seissol/gha-gpu-amd:davschneller-ci-merge
            runner: ubuntu-24.04
            pythonbreak: true
            test: false
          - arch: skl
            backend: oneapi
            cc: icx
            cxx: icpx
            fc: ifx
            container: seissol/gha-gpu-intel-2025:davschneller-ci-merge
            runner: self-hosted
            pythonbreak: false
            test: true
    steps:
      - name: install-gtest
        run: |
          git clone --depth 1 --branch release-1.11.0 https://github.com/google/googletest
          mkdir -p googletest/build && cd googletest/build
          cmake .. -GNinja -DBUILD_GTEST=ON -DBUILD_GMOCK=ON -Dgtest_disable_pthreads=ON -DBUILD_SHARED_LIBS=ON
          ninja install
          cd ../..

      - name: checkout-device
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - id: build
        name: build-device
        run: |
          cd tests
          mkdir build && cd build

          # TODO: change to `-Wall -Werror` at some point
          EXTRA_FLAGS="-Wall"

          export CFLAGS="${EXTRA_FLAGS} ${CFLAGS}"
          export CXXFLAGS="${EXTRA_FLAGS} ${CXXFLAGS}"
          export FFLAGS="${EXTRA_FLAGS} ${FFLAGS}"

          export CC=${{matrix.setup.cc}}
          export CXX=${{matrix.setup.cxx}}
          export FC=${{matrix.setup.fc}}

          cmake .. -GNinja -DDEVICE_BACKEND=${{matrix.setup.backend}} -DSM=${{matrix.setup.arch}}
          ninja

      - id: test
        name: test-device
        if: ${{matrix.setup.test}}
        run: |
          cd tests
          cd build

          ./tests
